/* font family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&family=Poppins:wght@300&display=swap');

* {
    font-family: poppins;
}
:root{
    --color-1:#818dff;
    --color-2:#afb6f3;
    --color-3:#0f1722;
    --color-4: #161e29;
    --color-5:#1d283a;
    --color-6:#464545;
}
.light-theme{
    --color-1:#1d283a;
    --color-2:#161e29;
    --color-3:#8297b4;
    --color-4: #afb6f3;
    --color-5:#99a3ff;
    --color-6:#dddddd;
}
body{
    background: var(--color-6);
    transition: 1s all;
}
.container {
    width: 800px;
    margin: 0 auto;
    min-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* theme icon */
#theme-btn i{
    cursor: pointer;
}

/* all buttons */
.buttons {
    cursor: pointer;
    background-color: var(--color-4);
    margin-bottom: 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    transition: all 0.2s;
    /* user cant select the text */
    user-select: none;
}

.buttons:hover {
    background-color: var(--color-1);
}

.buttons:active {
    background-color: var(--color-2);
}
.buttons>span{
    font-size: 10px;
    padding-left: 1px;
    padding-top: 20px;
}

/* left div START*/

#left-div {
    width: 240px;
    background-color: var(--color-3);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

/* h2 */
#left-div h2 {
    font-size: 23px;
    font-weight: 400;
    margin: 40px auto;
    display: flex;
    gap: 10px;
}

.button-box {
    margin-top: 20px;
}

#operators-box {
    display: flex;
    gap: 10px;
}
/* left div END*/

/* right div START */

#right-div {
    background-color: var(--color-5);
    width: 560px;
    height: 600px;
    position: relative;
}

/* calculator */
#calculator {
    position: absolute;
    top: 40px;
    left: 145px;
    color: #fff;
}

/* answer page */
#answer-page textarea {
    outline: none;
    border: none;
    background-color: var(--color-5);
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    width: 260px;
    margin-block: 10px;
    user-select: none;
    resize: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-3);
}

::-webkit-scrollbar-track {
    background-color: #919191ab;
    border-radius: 5px;
}

/* numbers */
.rows {
    display: flex;
    margin-right: 20px;
}

.rows>span {
    margin-right: 10px;
    font-weight: 600;
}

/* more width number */
#more-width-number {
    width: 100%;
}

/* right div END */

/* responsive */
@media screen and (max-width:500px) {
    .container {
        width: 350px;
    }

    #calculator {
        top: 40px;
        left: 20px;
        color: #fff;
    }

    .button-box {
        display: flex;
        flex-direction: row;
    }

    .buttons {
        width: 20px;
        height: 20px;
        font-size: 15px;
    }

    #answer-page textarea {
        width: 200px;
        height: 34px;
        font-size: 20px;
    }
    #left-div h2{
        font-size: 15px;
    }
    #left-div,
    #right-div{
        height: 450px;
    }
}